.faq{
    margin: 10px;
    padding: 10px;
    h2{
        font-size: 20px;
    }
    p{
        width: 300px;
        height: 150px;
    }
}

.faq2{
    margin: 10px;
    padding: 10px;
    h2{
        font-size: 20px;
    }
    p{
        width: 300px;
        height: 150px;
    }
}