footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background: #FFC7C7;
    left: 0;
    bottom: 0;
    p{
        background-color: #FFC7C7;
    }
  }