
.footer-container {
    background: #FFC7C7;
    color: #7071E8;
    padding: 20px;
    text-align: center;
  }
  
  .footer-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFC7C7;
    p{
        background-color: #FFC7C7;
        font-weight: bold
    }
  }
